* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Avenir,sans-serif;
  font-size: 16px;
  background-color: white;
}

.strip {
  color: white;
  background-color: black;
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 2rem;
  font-size: 1.5rem;
}

.fullwidth {
  color: white;
  background-color: black;
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  align-items: center;
  grid-template-rows: 2rem;
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem 0;
}

input::placeholder {
  color:rgba(0,0,0,.1);
}

input.btn--delete {
  display: inline;
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 1rem;
}

input[type="radio"] {
  display: block-inline;
}

input.btn--submit {
  display: inline;
  background-color: green;
  border-radius: 10px;
  padding: 1rem;
}

.strip li {
  display: inline-block;
  border: 1px dotted black;
  text-align: center;
}

.transaction {
  border: 1px solid black;
  font-size: 1.5 rem;
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr 4fr 1fr;
}

label, input[type="text"] {
  display: block;
  font-size: 2rem;
}

.when-regular {
  display: none;
}

#typeChoice2:checked ~ .when-regular {
  display: block;
}

.commit, .incomings {
  border: 1px solid black;
  font-size: 1.5 rem;
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr 2fr 4fr 1fr;
}

.amount {
  text-align: right;
}

.out {
  background-color: orange;
}

.commitment {
  background-color: red;
}

.in {
  background-color: cyan;
}
