/** CSS Reset */

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background-color: whitesmoke;
}

nav.header {
  display: flex;
  flex-direction: row;
}

a.add, a.close {
  display: inline-flex;
  flex: 5%;
  text-decoration: none;
  padding: 0.5rem;
  color: white;
  background-color: black;
  font-weight: bolder;
}

.title {
  display: inline-flex;
  flex: 90%;
  padding:0 10px;
}

a {
  font-size: 6vw;
}

nav li a {
  font-size: 8vw;
  text-decoration: none;
}

h1, h2 {
  padding: .5rem;
}

h1 {
  font-family: 'Anton', sans-serif;
  background-color: rgb(16, 193, 74);
  font-size: 10vw;
  height: 20vw;
}

h2 {
  font-family: 'Anton', sans-serif;
  background-color: rgb(16, 193, 74);
  font-size: 8vw;
  display: inline-block;
}

table {
  border: 1px solid black;
}

tr {
  border-top: 1px dotted black;
}

th {
  font-weight: bold;
  text-align: left;
}

th,td {
  padding: 5px;
}

ul {
  list-style: none;
}

li {
  border: 1px dotted black;
  background-color: whitesmoke;
  text-decoration: none;
  display: block;
  padding: 0 .5rem;
}

.amount {
  text-align: right;
}

.style_I {
  color: white;
  background-color: green;
}

.style_C {
  color: white;
  background-color: orange;
}

.style_T {
  background-color: white;
}

a.add {
  font-size: 1.5em;
}

a.delete {
  text-decoration: none;
  color:red;
  font-weight: bold;
}

img.icon {
  width: 24px;
  height: 24px;
}

/** flex container for vertical list. based on HTML tables but implemented using CSS Flex layout. Based on a grid of 10% by default **/

.table, .tbody, .tfoot {
  display: flex;
  flex-direction: column;
}

.tr, .thead {
  border-radius: 10px;
  border: 3px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1px 0;
  font-size: 4vw;
}

.th,.th90,.th80,.th70,.th60,.th50,.th40,.th30,.th20 {
  font-weight: bolder;
}

.td, .th {
  padding: .5rem .25rem;
  text-align: left;
  flex: 10%;
}

.td90, .th90 {
  padding: .5rem .25rem;
  text-align: left;
  flex: 90%;
}

.td80, .th80 {
  padding: .5rem .25rem;
  text-align: left;
  flex: 80%;
}

.td70, .th70 {
  padding: .5rem 0;
  text-align: left;
  flex: 70%;
}

.td60, .th60 {
  padding: .5rem 0;
  text-align: left;
  flex: 60%;
}

.td50, .th50 {
  padding: .5rem 0;
  text-align: left;
  flex: 50%;
}

.td40, .th40 {
  padding: .5rem .25rem;
  text-align: left;
  flex: 40%;
}

.td30, .th30 {
  padding: .5rem .25rem;
  text-align: left;
  flex: 30%;
}

.td20, .th20 {
  padding: .5rem .25rem;
  text-align: left;
  flex: 20%;
}

/* form elements */

input, label {
  font-size: 8vw;
  margin: 0 0.5rem;
  padding: 4vw 0;
}

label {
  font-weight: bolder;
  display: block;
  font-size: 8vw;
}

hr {
  padding-left: .5rem;
  margin: .5rem 0;
}

select {
  margin-left: .5rem;
  font-size: 9vw;
  width: 90vw;
}

input[type="text"] {
  font-size: 8vw;
  width: 90vw;
}

input[type="number"] {
  font-size: 8vw;
  width: 20%;
}

input[type="submit"] {
  background-color: rgb(16, 193, 74);
  border-radius: .5rem;
  padding: .5rem;
}
