/** CSS Reset */

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: wheat;
}

table {
  border: 1px solid black;
}

tr {
  border-top: 1px dotted black;
}

th,td {
  padding: 5px;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
  display: inline-block;
  padding: 0 .5rem;
}

.amount {
  text-align: right;
  font-family: monospace;
}

.style_I {
  color: white;
  background-color: green;
}

.style_C {
  color: white;
  background-color: orange;
}

.style_T {
  background-color: white;
}
