<nav>
  <a class="add" href="/accounts/new">New</a>
  <h2>Accounts</h2>
</nav>
<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th></th>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><a href="/accounts/<%= account.id %>/edit"><%= account.name %></a></td>
        <td><a class="delete" href="/accounts/<%= account.id %>/delete"><img class="icon" src="/images/throw-to-paper-bin.svg" ></i></a></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>

  </tfoot>
</table>
