<h1>New Account</h1>
<hr>
<form action="/accounts" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text" placeholder="name of account" autofocus></input>
  <hr>
  <input type="submit" value="Submit">
</form>
