<nav>
  <a class="add" href="/categories/new">New</a>
  <h2>Categories</h2>
</nav>
<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th></th>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td><a class="delete" href="/categories/<%= category.id %>/delete">Delete</i></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>

  </tfoot>
</table>
