<h1>New Category</h1>
<hr>
<form action="/categories" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text" placeholder="name of category"></input>
  <hr>
  <input type="submit" value="Submit">
</form>
