<h1>New Commitment</h1>
<hr>
<form action="/commitments" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text" placeholder="e.g. Gym membership" autofocus></input>
  <hr>
  <label for="account">Account</label>
  <select class="account" name="account_id">
    <% @accounts.each do |account| %>
      <option value="<%= account.id %>">
        <%= account.name %>
      </option>
    <% end %>
  </select>
  <hr>
  <label for="vendor">Vendor</label>
  <select class="vendor" name="vendor_id">
    <% @vendors.each do |vendor| %>
      <option value="<%= vendor.id %>">
        <%= vendor.name %>
      </option>
    <% end %>
  </select>
  <hr>
  <label for="amount">Amount, £</label>
  <input type="text" id="amount" name="amount" placeholder="e.g. 100"></input>
  <hr>
  <label for="day">Day of Month</label>
  <input id="day" type="number" name="day_in_month" value="1" min="1" max="31">
  <hr>
  <input type="submit" value="Submit">
</form>
