<h1>New Income</h1>
<hr>
<form action="/incomes" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text" placeholder="e.g. Wages"></input>
  <hr>
  <label for="account">Account</label>
  <select class="account" name="account_id">
    <% @accounts.each do |account| %>
      <option value="<%= account.id %>">
        <%= account.name %>
      </option>
    <% end %>
  </select>
  <hr>
  <hr>
  <label for="amount">Amount</label>
  £<input type="text" id="amount" name="amount" placeholder="e.g. 100"></input>
  <hr>
  <label for="regular">Regular?</label><br>
  <input type="radio" id="regular" name="regular" value="F">One-off<br>
  <input id="regular" type="radio" name="regular" value="T" checked>Regular<br>
  <hr>
  <label for="day">Day of Month</label>
  <input id="day" type="number" name="day_in_month" value="1" min="1" max="31">
  <hr>
  <input type="submit" value="Submit">
</form>
