<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/style.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Anton|Raleway" rel="stylesheet">
  <title>Money Tracker</title>
</head>
<body>
  <header>
    <h1>Money Tracker</h1>
    <label for="close" id="foo">=</label>
    <input type="checkbox" id="close" />
    <nav>
      <ul>
        <li><a href="/accounts">Accounts</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/commitments">Commitments</a></li>
        <!--<li><a href="/classifications">Classifications</a></li>-->
        <li><a href="/incomes">Incomes</a></li>
        <!--
        <li><a href="/transactions">Transactions</a></li> -->
        <li><a href="/vendors">Vendors</a></li>
        <li></li>
        <li><a href="/summary">Summary</a></li>
        <li></li>
      </ul>
    </nav>
  </header>
  <content>
    <%= yield %>
  </content>
</body>
</html>
