<nav class="header">
  <a class="add" href="/vendors/new">+</a>
  <h2 class="title">Vendors</h2>
  <a class="close" href="/">x</a>
</nav>
<div class="table">
  <div class="thead">
    <div class="th90">Name</div>
    <div class="th"></div>
  </div>
  <div class="tbody">
    <% @vendors.each do |vendor| %>
      <div class="tr">
        <div class="td90"><a href="/vendors/<%= vendor.id %>/edit"><%= vendor.name %></a></div>
        <div class="td"><a class="delete" href="/vendors/<%= vendor.id %>/delete"><img class="icon" src="/images/throw-to-paper-bin.svg"></i></a></div>
      </div>
    <% end %>
  </div>
  <div class="tfoot">

  </div>
</div>
