<nav>
  <a class="add" href="/vendors/new">New</a>
  <h2>Vendors</h2>
</nav>
<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
  </thead>
  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.id %></td>
        <td><%= vendor.name %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>

  </tfoot>
</table>
