<nav>
  <a class="add" href="/vendors/new">New</a>
  <h2>Vendors</h2>
</nav>
<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th></th>
  </thead>
  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.id %></td>
        <td><a href="/vendors/<%= vendor.id %>/edit"><%= vendor.name %></a></td>
        <td><a class="delete" href="/vendors/<%= vendor.id %>/delete"><img class="icon" src="/images/throw-to-paper-bin.svg"></i></a></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>

  </tfoot>
</table>
